<form class="example-form">
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "name" name = "name" matInput placeholder="First name">
      <mat-hint>Your first name</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
      <mat-hint>Your email</mat-hint>
      </mat-form-field>
      <p class = "error" *ngIf = "error.code =='auth/invalid-email'">{{error.message}}</p>
      

      <mat-form-field class="example-full-width">
          <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
          <mat-hint>Try as strong as possible</mat-hint>
          </mat-form-field>
          <p class = "error" *ngIf = "error.code =='auth/weak-password'">{{error.message}}</p>

          <button mat-raised-button (click)="signup()">Sign up</button>
</form>
