<div>
  <mat-form-field>
    <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
    <mat-hint>Your email</mat-hint>
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <input [(ngModel)] = "password" name = "password" matInput placeholder="password">
        <mat-hint>Your password</mat-hint>
        </mat-form-field> 


</div>
<div>
    <button mat-raised-button (click)="login()">Login</button>
</div>